@model SISRESERVAS.Models.reserva

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Crear</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Crear Reserva</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-group">
                    <label asp-for="Viaje.Bus"></label>
                    <select asp-for="Viaje.Bus" class="form-control" asp-items="ViewBag.IdViaje"></select>
                    <span asp-validation-for="Viaje.Bus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Viaje.Departamento.NombreDep"></label>
                    <select asp-for="Viaje.Departamento.NombreDep" class="form-control" asp-items="ViewBag.IdDep"></select>
                    <span asp-validation-for="Viaje.Departamento.NombreDep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
                
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
